<!-- <app-paginator></app-paginator>

<h1 class="flex text-3xl justify-between p-10 bg-blue-500 text-white"> Bienvenido a la página consumida de Rick And
    Morty </h1>

<div class="p-6">

    <h1>Personajes</h1>

    <div class="grid grid-cols-4 gap-4">
        <div *ngFor="let c of characters" class="bg-white p-4 rounded shadow">

            <img [src]="c.image" class="w-full rounded mb-2" />
            <h2 class="font-bold">{{ c.name }}</h2>
            <p>The character is {{ c.status }}</p>
            <p>
                They belong to <span [ngClass]="{
                                    'text-green-700 font-bold': c.species === 'Human',
                                    'text-red-700 font-bold': c.species === 'Alien'
                                    }">
                    {{ c.species }}</span>
                specie
            </p>
        </div>
    </div>
</div>

<div class="p-6 bg-gray-100 max-w-6xl mx-auto">

    <app-character-search
    (searchCharacter)="receiveCharacterSearch($event)">
    </app-character-search>

    <app-character-table 
    [characters]="characters"
    [characterSearch]="characterSearch">
    </app-character-table>

    <div class="p-10 rounded border-t">
    <h1 class="text-2xl bg-white p-6 text-gray-700 borber-b">Usuarios en esta página</h1>
    </div>
    
    <app-user-search 
    (search)="receiveSearch($event)"
    (addUser)="openCreateModal()">    
    </app-user-search>
    

    <app-user-table 
        [users]="users"
        [userSearch]="userSearch" 
        (editUser)="openEditModal($event)" 
        (deleteUser)="deleteUserById($event)"
        (viewUser)="openProfileModal($event)">
    </app-user-table>
    
    <button (click)="logout()" class="bg-red-500 text-white p-2 mt-4 rounded">
        Cerrar sesión
    </button>
</div>

<div *ngIf="showModal" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center">

    <div class="bg-white p-6 rounded-xl shadow-lg bg-opacity-60 backdrop-blur-sm">

        <h2 class="text-xl mb-4"> Agregar Usuarios </h2>

        <input [(ngModel)]="formUser.name" placeholder="Nombre" class="w-full mb-2 p-2 border rounded" />
        <input [(ngModel)]="formUser.email" placeholder="Email" class="w-full mb-2 p-2 border rounded" />
        <input [(ngModel)]="formUser.password" placeholder="Contraseña" class="w-full mb-2 p-2 border rounded" />
        <input [(ngModel)]="formUser.age" type="number" placeholder="Edad" class="w-full mb-2 p-2 border rounded" />

        <div class="flex justify-between">

            <button (click)="editMode ? updateUserData() : addUser()" class="bg-green-500 text-white px-3 py-1 rounded">
                Guardar
            </button>

            <button (click)="showModal = false" class="bg-gray-400 px-3 py-1 rounded">
                Cancelar
            </button>
        </div>
    </div>
</div>

<div *ngIf="showProfileModal" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center">

    <div class="card p-6 w-96">

        <img [src]="randomImage" class="w-32 h-32 rounded-full mx-auto mb-4" />
        <h2 class="text-center text-2xl">

            {{  selectedUser.name  }}

        </h2>
        <p>
            Correo: 
            {{  selectedUser.email  }}
        </p>
        <p>
            Edad:
            {{  selectedUser.age  }}
        </p>
        <p>
            Creado:
            {{  formatDate(selectedUser.createdAt)  }}
        </p>
        
        <button (click)="showProfileModal=false" class="btn-danger mt-4 w-full"> 
            Cerrar
        </button>
    </div>
</div> -->